.messageContainer {
    background-color: green;
    border-radius: 5px;
    border: 2px solid black;
}
.messageInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.messageText {
    padding-right: 10px;
    padding-left: 70px;
}
.messageTime {
    padding-right: 5px;
}
.userName {
    padding-left: 5px;
}
