 .menuContainer {
    background-color: grey;
    height: 505px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
